# ===============================
# .NET
# ===============================
bin/
obj/
*.user
*.suo

# ===============================
# Docker
# ===============================
*.loggit 

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/

# ===============================
# Temporary files
# ===============================
*.tmp
*.temp
